* {
  margin: 0;
  padding: 0;
  font-family: verdana, arial, helvetica, sans-serif;
  box-sizing: border-box;
}

a {
  color: rgb(51, 102, 153);
}

/*------------------------------
        Miscellaneous styles   
 ------------------------------*/

header {
  padding: 0;
  position: relative;
  width: 100%;
  border-bottom: 1px solid rgb(95, 153, 207);
}

.left {
  float: left;
}

.right {
  float: right;
}

.center {
  margin: auto;
}

/* Color Styles */

.gray-text {
  color: rgb(128, 128, 128);
}

/*-------------------------------
             Homepage styles 
--------------------------------*/

.top-bar {
  width: 100%;
  height: 18px;
  font-size: 9px;
  line-height: 18px;
  background-color: rgb(240, 240, 240);
  border-bottom: 1px solid rgb(128, 128, 128);
}

.sr-dropdown {
  display: inline-block;
}

.sr-dropdown span {
  padding: 5px;
}

.sr-dropdown i {
  margin-right: 7px;
  font-size: 12px;
  font-weight: normal;
  color: rgb(128, 128, 128);
}

.sr-dropdown-menu {
  display: inline-block;
}

.sr-list {
  display: inline-block;
}

.flat-list {
  list-style-type: none;
  font-size: 9px;
  display: inline;
}

.flat-list li {
  display: inline-block;
  text-transform: uppercase;
}

.selected .choice {
  color: rgb(255, 69, 0);
  font-weight: bold;
}

.flat-list li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.flat-list li a:hover {
  text-decoration: underline;
}

.separator {
  color: rgb(128, 128, 128);
  margin: 0px 0.7ex 0px 0.7ex;
  cursor: default;
  display: inline;
}

.nav-bar {
  width: 100%;
  height: 43px;
  background-color: rgb(206, 227, 248);
}

.brand-name {
  display: inline;
  position: absolute;
  bottom: 0;
  font-weight: normal;
  padding-left: 10px;
}

.tab-menu {
  display: inline;
  position: absolute;
  bottom: 3px;
  left: 150px;
}

.tab-menu li {
  list-style-type: none;
  display: inline;
}

.tab-menu li a,
.tab-menu li a:visited {
  background-color: rgb(239, 247, 255);
  padding: 3px 5px;
  text-decoration: none;
  color: rgb(51, 102, 153);
  font-size: 12px;
  font-weight: bold;
}

.tab-menu li a:focus,
.tab-menu li a:active {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(95, 153, 207);
  border-bottom: 1px solid rgb(255, 255, 255);
  color: rgb(255, 69, 0);
}

.user-tab {
  position: absolute;
  right: 0px;
  font-size: 10px;
  bottom: 0px;
  background-color: rgb(239, 247, 255);
  padding: 4px;
  line-height: 12px;
  border-top-left-radius: 7px;
}

.user-tab a {
  text-decoration: none;
}

.lang {
  font-weight: bold;
}
.right-bar {
  float: right;
  background-color: black;
  width: 300px;
  margin: 0px 5px 0px 5px;
}
.right-bar .spacer {
  margin: 7px 0 12px 0;
}
.search input[type="text"] {
  clear: both;
  border: 1px solid gray;
  width: 300px;
  box-sizing: border-box;
  padding: 6px;
  padding-right: 25px;
  padding-left: 9px;
}
.search input[type="submit"]{
  
}
.link {
  text-align: center;
  position: relative;
  border: 1px solid white;
}
.account-activ .link {
  font-size: 10px;
}
.text {
  color: aliceblue;
  float: right;
}
.left-bar {
  float: left;
  clear: both;
  width: 130px;
  padding-right: 14px;
  margin-top: -225px;
  background-color: black;
}
.grip {
  clear: both;
  border: 1px solid black;
  height: 100%;
  position: absolute;
  margin-left: 135px;
}
.left-top {
  background-color: aqua;
  padding: 5px;
}
.left-mid {
  background-color: aqua;
  padding: 5px;
}
.left-bottom {
  background-color: aqua;
  padding: 5px;
}
h3 {
  color: aliceblue;
}
.create input {
  width: 90px;
}
footer {
  text-align: center;
  font-size: 100px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0px;
}